<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>404 - Evan Byrne</title>
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' />
		<link rel='stylesheet' type='text/css' href='/static/layout/style.css' />
		<link rel="shortcut icon" type="image/x-icon" href="/static/layout/favicon.ico" />
	</head>
	<body>
		<div class="wrapper">
			<img class="profile" src="/static/layout/evan.jpg" alt="Evan Byrne" />
			<h1><a href="/">Evan Byrne</a></h1>

			<h2>404</h2>
			<p>Page not found at <code>{{.url}}</code>.</p>
		</div>
	</body>
</html>