{{define "main"}}
	{{.content}}

	{{if .posts}}
		<h2>Recent Writings</h2>
		<ul>
			{{range .posts}}
				<li><a href="{{.Url}}">{{.Title}}</a></li>
			{{end}}
		</ul>
	{{end}}

	<h2>Contact Information</h2>
	<ul>
		<li>Phone: <a class="tel" href="tel:+1-810-728-1572">+1 (810) 728-1572</a></li>
		<li>E-Mail: <a href="mailto:evantbyrne@gmail.com">evantbyrne@gmail.com</a></li>
		<li>Social: <a href="https://twitter.com/evantbyrne">Twitter</a>,
				<a href="https://github.com/evantbyrne">Github</a></li>
		<!-- <li>Résumé: <a href="/resume">HTML</a>, <a href="#">PDF</a></li> -->
	</ul>
{{end}}