<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin - Evan Byrne</title>
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' />
		<link rel='stylesheet' type='text/css' href='/static/layout/style.css' />
		<link rel="shortcut icon" type="image/x-icon" href="/static/layout/favicon.ico" />
	</head>
	<body>
		<div class="wrapper-admin">
			<h1><a href="/admin">Admin</a></h1>

			<h2>Index</h2>
			<p><a href="/admin/create">Create &rarr;</a></p>
			
			{{if .}}
				<ul>
					{{range .}}
						<li><a href="/admin/edit/{{.Id}}">{{.Url}}</a></li>
					{{end}}
				</ul>
			{{end}}

			<form method="post" action="/admin/logout">
				<fieldset><input type="submit" value="Log out" /></fieldset>
			</form>

		</div>
	</body>
</html>