<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{if .title}}{{.title}} - {{end}}Admin - Evan Byrne</title>
		<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' />
		<link rel='stylesheet' type='text/css' href='/static/layout/style.css?v=04-13-2014' />
		<link rel="shortcut icon" type="image/x-icon" href="/static/layout/favicon.ico" />
	</head>
	<body>
		<div class="wrapper-admin">
			<h1><a href="/admin">Admin</a></h1>

			{{ template "main" . }}
		</div>
	</body>
</html>